@import '../scss/variables.module';
@import '../scss/mixins';

.index-page {
  .header-section {
    .jumbotron-content {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: center;
    }
    h1 {
      font-size: 2.5rem;
      margin-bottom: 0;
      text-align: center;
    }
    h2 {
      font-size: 2rem;
      margin-bottom: 0;
      text-align: center;
    }

    .anim-wrap {
      overflow: hidden;
    }

    .title,
    .subtitle {
      animation-timing-function: ease;
      animation-direction: forwards;
    }

    .title {
      animation-name: slideUp;
      animation-duration: 2s;
    }
    .subtitle {
      animation-name: slideDown;
      animation-duration: 3s;
    }
    .contact {
      animation-name: fadeIn;
      animation-duration: 4s;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 33%;
      position: absolute;
      margin: auto;
      bottom: 0;
      left: 0;
    }
  }
  .teaser-section {
    h2 {
      font-size: 2.5rem;
      margin-bottom: 0;
      text-align: center;
    }

    h3 {
      font-size: 2rem;
      margin-bottom: 0;
      text-align: center;
    }

    .row {
      overflow: hidden;
      .anim-wrap {
        transition: transform 1s ease;
        transform: scaleY(0);
      }
    }
    .row.on-view {
      .anim-wrap {
        transform: scaleY(1);
      }
    }
  }
  .features-section {
    text-align: center;
    .section-header {
      img {
        width: 42px;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@include breakpoint(md) {
  .index-page {
    .header-section {
      h1 {
        font-size: 3.6rem;
      }
      h2 {
        font-size: 3rem;
      }
    }
  }
}
@include breakpoint(sm) {
  .index-page {
    .header-section {
      h1 {
        font-size: 3rem;
      }
      h2 {
        font-size: 2.5rem;
      }
    }
  }
}
