@import "../../scss/colors";

.page-hero {
  position: relative;
  height: 100vh !important;
  background-color: $dark-color;
  background-position: bottom right;
  background-attachment: 'fixed';
  background-size: 30%;
  background-repeat: no-repeat;
}