@import "../../scss/variables";

.page-hero {
  position: relative;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  background-color: $dark-color;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;

  &.full {
    min-height: 100vh;
  }
  &.medium {
    min-height: 60vh;
  }
  &.small {
    min-height: 40vh;
  }
  
  &.add-navbar-margin {
    min-height: calc(100vh - #{$navbar-max-height});
    background-position: center $navbar-max-height;
  }

  .hero-title {
    width: 50%;
    padding: 2rem;
    text-align: center;
    color: $light-color;
    background-color: $color1;
    justify-self: space-around;
    margin: 0 auto 0 auto;

    &.top {
      align-self: flex-start;
    }
    &.center {
      align-self: center;
    }
    &.bottom {
      align-self: flex-end;
    }
    h1 {
      font-size: 2rem;
      margin: auto 0;
    }
  }
}
