@import '../../scss/mixins';

.contact-page {
  .jumbotron {
    .jumbotron-content {
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }
  }

  .contact-form {
    width: 80vw;
    text-align: center;
    div {
      text-align: left;
    }
    .btn {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@include breakpoint(sm) {
  .contact-page {
    .contact-form {
      width: 50vw;
    }
  }
}
