@import '../../scss/mixins';

.contact-form {
  input,
  textarea {
    width: 100%;
    margin-bottom: 1rem;
  }

  .sender-info {
    width: 100%;
    div {
      width: 100%;
      display: inline-block;
    }
  }
  .message-field {
    textarea {
      height: 8em;
    }
  }
}

@include breakpoint(sm) {
  .contact-form {
    .sender-info {
      div {
        width: 50%;
      }
      .name-field {
        padding-right: 1rem;
      }
      .email-field {
        padding-left: 1rem;
      }
    }
  }
}
