.contact-form {
  input, textarea {
    width: 100%;
    margin-bottom: 1rem;
  }

  .sender-info {
    width: 100%;
    div {
      width: 50%;
      display: inline-block;
    }

    .name-field {
      padding-right: 1rem;
    }
    j
    .email-field {
      padding-left: 1rem;
    }
  }
}