@import "../../scss/colors";
@import "../../scss/typography";

.navbar {
  $self: &;
  box-shadow: none !important;
  transition: all 1s;
  height: 128px !important;
  position: fixed !important;
  width: 100%;

  .container {
    height: 100%;
    align-items: center !important;
  }

  &-menu {
    box-shadow: none !important;
  }

  &-brand {
    padding: 0 !important;
    height: 64px;
    display: flex;
    align-items: baseline !important;

    .logo {
      width: 64px;
      height: 64px;
    }

    .site-name {
      font-family: $primary-font;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 2rem;
      line-height: 2rem;
      padding-left: 1rem;

      .left {
        color: $primary-color;
      }
      .right {
        color: $secondary-color;
      }
    }
  }

  &-item {
    color: $black-color !important;
    text-transform: uppercase;
  }

  &.is-shrinked {
    height: 64px !important;

    #{ $self }-brand {
      height: 64px;
    }
    #{ $self }-logo svg {
      width: 32px;
      height: 32px;
    }
  }

  &.is-minimized {
    transform: translateY(-100%);
  }

  &.is-transparent {
    .navbar-item {
      color: $white-color !important;
    }
  }
}
