@import '../../scss/variables.module';
@import '../../scss/mixins';

.navbar {
  transition: height 1s, transform 0.5s, background-color 1s;
  z-index: 100;
  box-shadow: none;
  width: 100vw;
  max-width: 100%;
  height: $navbar-max-height;
  position: fixed;
  top: 0;
  line-height: 0.7;
  background-color: $dark-color;

  .container {
    margin: 0 1rem 0 1rem;
    background-color: $dark-color;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    z-index: 100;
  }

  &.is-transparent .container {
    background-color: transparent;
  }

  .brand {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 4px;
    z-index: 99;

    .logo {
      transition: width 1s, height 1s;
      width: 2rem;
      height: 2rem;
    }
    .title {
      transition: font-size 1s;
      font-family: $primary-font;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 1.8rem;
      margin-top: auto;
      margin-left: 10px;
      margin: auto 0 0 3px;

      .left {
        color: $color1;
      }
      .right {
        color: $color2;
      }
    }
  }

  .menu-button {
    margin-left: auto;
    height: 100%;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: 0;
    z-index: 99;

    span {
      display: block;
      width: 60%;
      height: 2px;
      background-color: #fdf9f2;
      margin: 3px 0;
      transition: all 0.2s;
    }

    &.is-active {
      /* Rotate first bar */
      span:nth-child(1) {
        transform: rotate(-45deg) translate(-5.5px, 5.5px);
      }
      /* Fade out the second bar */
      span:nth-child(2) {
        opacity: 0;
      }
      /* Rotate last bar */
      span:nth-child(3) {
        transform: rotate(45deg) translate(-5.5px, -5.5px);
      }
    }
  }

  .menu {
    display: none;
  }

  .mobile-menu {
    font-family: $primary-font;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.25rem;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 5rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 90;
    margin-left: -1rem;
    transform: translateY(-100%);
    background-color: $dark-color;
    transition: font-size 1s, transform 0.5s;

    li {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      justify-content: flex-end;
      transition: background-color 0.5s, color 0.5s;
      text-align: center;
      width: 100%;
    }

    li:hover {
      background-color: $color2;
      color: $dark-color;
    }

    a {
      padding: 27px 1rem 27px 1rem;
    }

    &.is-active {
      transform: translateY(0%);
    }
  }

  &.is-minimized {
    transform: translateY(-100%);
  }
}

@include breakpoint(sm) {
  .navbar {
    .container {
      margin-left: $container-max-margin;
      margin-right: $container-max-margin;
    }
    .menu-button {
      display: none;
    }
    .mobile-menu {
      display: none;
    }
    .menu {
      display: flex;
      align-items: center;
      margin-left: auto;
      flex-direction: row;
      padding-top: 0;
      transform: translateY(0%);
      width: auto;
      align-items: stretch;
      background-color: inherit;
      font-family: $primary-font;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 1.25rem;

      li {
        width: auto;
        display: flex;
        align-items: stretch;
        flex-direction: column;
        justify-content: flex-end;
        transition: background-color 0.5s, color 0.5s;
        text-align: center;
      }
      li:hover {
        background-color: $color2;
        color: $dark-color;
      }
      a {
        padding: 27px 1rem 27px 1rem;
      }
    }
  }

  &.is-shrinked {
    height: 4rem;

    .brand {
      margin-top: auto;
      margin-bottom: auto;

      .title {
        font-size: 1.5rem;
      }
    }
    .menu {
      font-size: 1rem;
      li {
        justify-content: center;
      }
      a {
        padding-bottom: 10px;
      }
    }
  }
}
