@import "../../scss/colors";
@import "../../scss/typography";

.navbar {
  box-shadow: none !important;
  transition: all 1s;
  height: 8rem !important;
  position: fixed !important;
  width: 100%;

  .container {
    height: 100%;
    align-items: center !important;
  }

  &-menu {
    box-shadow: none !important;
  }

  &-brand {
    padding: 0 1rem;
  }

  &-item {
    color: $black-color !important;
    text-transform: uppercase;
  }

  &-site-name {
    font-family: $primary-font;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  &.is-shrinked {
    height: 1.5rem !important;
  }

  &.is-minimized {
    transform: translateY(-100%);
  }

  &.is-transparent {
    .navbar-item {
      color: $white-color !important;
    }
  }
}
