@import '../../scss/variables.module';
@import '../../scss/mixins';

.add-navbar-margin {
  .jumbotron.full {
    height: calc(100vh - #{$navbar-max-height}) !important;
  }
}
.jumbotron {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  min-height: 100%;
  background-color: $dark-color;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &.full {
    height: 100vh;
  }
  &.medium {
    height: 60vh;
  }
  &.small {
    height: 40vh;
  }

  .jumbotron-content {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .jumbo-title {
      width: 80%;
      padding: 1rem;
      text-align: center;
      color: $light-color;
      background-color: $color1;
      justify-self: space-around;
      margin: 0 auto 0 auto;

      &.top {
        align-self: flex-start;
      }
      &.center {
        align-self: center;
      }
      &.bottom {
        align-self: flex-end;
      }
      h1 {
        font-size: 2rem;
        margin: auto 0;
      }
    }
  }

  .background-overlay {
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .scroll-down {
    position: absolute;
    bottom: 20px;
    z-index: 2;
    display: inline-block;
    color: #fff;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    outline: none;
  }
  .scroll-down {
    padding-top: 80px;
  }
  .scroll-down span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    opacity: 0;
    box-sizing: border-box;
  }
  .scroll-down span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .scroll-down span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
  }
  .scroll-down span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }

  @keyframes sdb {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@include breakpoint(sm) {
  .jumbotron {
    .jumbotron-content {
      .jumbo-title {
        padding: 1.5rem;
        width: 60%;
      }
    }
  }
}
