@import "./../../scss/variables.module";
@import "./../../scss/variables.module";

.section-header {
  background-color: $color3;
  color: $dark-color;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 400;
  padding: 30px;
  margin-bottom: 4rem;

  &.sh-small {
    background-color: $dark-color;
    height: 100px;
    padding: 20;
  }
  &.sh-medium {
    height: 180px;
  }
  &.sh-big {
    height: 300px;
  }
  h1, h2, h3, h4 {
    margin: 0;
  }
}
