@import "./../../scss/colors";
@import "./../../scss/typography";

.SectionHeader {
  background-color: $color3;
  color: $dark-color;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 400;
  margin: -3rem -1.5rem 4rem -1.5rem;
  padding: 30px;

  &.sh-small {
    background-color: $dark-color;
    height: 100px;
    padding: 20;
  }
  &.sh-medium {
    height: 180px;
  }
  &.sh-big {
    height: 300px;
  }
}
