@import './../../scss/variables.module';
@import './../../scss/mixins';

.section-header {
  background-color: $color3;
  color: $dark-color;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 400;
  padding: 30px;
  margin-bottom: 4rem;

  &.sh-small {
    background-color: $dark-color;
    height: 100px;
    padding: 20;
  }
  &.sh-medium {
    height: 180px;
  }
  &.sh-big {
    height: 300px;
  }
  h1,
  h2,
  h3,
  h4 {
    text-align: center;
    margin: 0;
  }

  h2 {
    font-size: 1.8rem;
  }

  @include breakpoint(sm) {
    h2 {
      font-size: 2.5rem;
    }
  }
}
