// Config vars
// Kaldi logo brand color: #FD461E
$kaldi-red: #edee13;
$kaldi-red-invert: #333;

$primary: $kaldi-red;
$primary-invert: $kaldi-red-invert;
$secondary: rgb(39, 17, 4);
$body-color: #333;
$black: #2b2523;
