$brand-primary-color: #ffba5a;
$brand-secondary-color: #c0ffb3;
$medium-color: #52de97;
$alert-color: #2c7873;
$white-color: #fcf5ed;
$black-color: #414042;
$dark-color: #402f2b;
$light-color: #e6d5c3;

:export {
  brandPrimaryColor: $brand-primary-color;
  brandSecondaryColor: $brand-secondary-color;
  mediumColor: $medium-color;
  alertColor: $alert-color;
  whiteColor: $white-color;
  blackColor: $black-color;
  darkColor: $dark-color;
  lighCcolor: $light-color;
}
