$color1: #d49100;
$color2: #e1bb6c;
$color3: #f4e5c6;
$color4: #74d5f0;
$color5: #03838b;
$light-color: #fdf9f2;
$dark-color: #333333;
$alert-color: #c5401f;

:export {
  color1: $color1;
  color2: $color2;
  color3: $color3;
  color4: $color4;
  color5: $color5;
  lightColor: $light-color;
  darkColor: $dark-color;
}

// change bulma colors
$scheme-main: $dark-color;
$background: $dark-color;
$primary: $color1;
$link: $color1;
$dark: $dark-color;
$text: $light-color;