@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

$primary-font: Montserrat, Verdana, Geneva, sans-serif;
$secondary-font: "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;

:export {
  primaryFont: $primary-font;
  secondaryFont: $secondary-font;
}