@import url('https://fonts.googleapis.com/css?family=Rubik|Karla&display=swap');

$primary-font: Rubik, Verdana, Geneva, sans-serif;
$secondary-font: Karla, "Lucida Sans Unicode", "Lucida Grande", sans-serif;

:export {
  primaryFont: $primary-font;
  secondaryFont: $secondary-font;
}

// bulma customizations
$body-family: $secondary-font;

h1, h2 {
  font-family: $primary-font;
}