@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

$primary-font: 'Montserrat';
$secondary-font: 'Open Sans';

:export {
  primaryFont: $primary-font;
  secondaryFong: $secondary-font;
}