@import "~bulma/sass/utilities/initial-variables";
@import "./colors";
@import "./typography";

.content .taglist {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;

  li {
    padding: 0 2rem 1rem 0;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
}

footer.footer {
  padding: 3rem 0rem 0rem;
  background-color: transparent;
}

.social {
  padding: 2em;
}

.social a {
  padding: .5em .5em .3em .5em;
  border-radius: 1em;
  background-color: $light-color;
  margin: .5em;
  vertical-align: middle;
  display: inline;
}

// blog roll
.blog-list-item.is-featured {
  background-color: #d6400033;
}

.blog-list-item header {
  display: flex;
  margin-bottom: 1em;
}

.blog-list-item .featured-thumbnail {
  flex-basis: 35%;
  margin: 0 1.5em 0 0;
}

@import "~bulma";
@import "./helpers";